<form action="/<%= @recipie[:id] %>" method="post">
  <div>
    <label>Dish name</label>
    <input type="text" name="title" placeholder="Enter the name of your dish" value="<%= @recipie[:title] %>">
  </div>

  <div>
    <label>Image</label>
    <input name="image" placeholder="Insert a link to your dish picture"><%= @recipie[:image] %></input>
  </div>
  <div>
    <label>Ingredients</label>
    <textarea name="ingredients" rows="8" cols="80" placeholder="List the ingredients neeeded to make your dish here"><%= @recipie[:ingredients] %></textarea>
  </div>
  <div>
    <label>Method</label>
    <textarea name="method" rows="8" cols="80" placeholder="Put the instructions to make this recipie here"><%= @recipie[:method] %></textarea>
  </div>

  <div>
    <input type="submit" value="Save recipie">
  </div>
  <% if(@recipie[:id] != "") %>
  <input type="hidden" name="_method" value="put">
  <% end %>
</form>
